<!DOCTYPE html>
<html>
<head>
    <title>Ananagram</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div id="app">
    <div class="title__wrapper">
        <div class="title__logo">
            <img src="logo_voronezh.svg" alt="">
        </div>
        <h2 class="title">Ananagram</h2>
    </div>
    <div class="container">
        <main class="main">
            <div class="row">
                <div class="col s12">
                    <div class="row row--flex inputs ">
                        <div class="input-field col m7 s12">
                            <input
                                    v-model="street"
                                    @keyup.enter="fetchData"
                                    placeholder="Введите улицу"
                                    id="street"
                                    type="text"
                            >

                            <label for="street">Улица</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input
                                    v-model="building"
                                    @keyup.enter="fetchData"
                                    placeholder="Дом"
                                    id="building"
                                    type="text"
                            >
                            <label for="building">Дом</label>
                        </div>
                        <a class="waves-effect waves-light btn col m2  s12 offset-m1 z-depth-3" @click="fetchData">GO</a>
                    </div>

                    <div v-if="list">
                        <div class="section" v-if="list.length">
                            <table class="striped highlight" id="table">
                                <thead>
                                <tr>
                                    <th>Улица</th>
                                    <th>Дома</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr v-for="item in list">
                                    <td><span v-html="item.name"></span</td>
                                    <td class="wrap">{{item.buildings && item.buildings.length ? item.buildings.join(', ') : ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else>
                            <h4>Ничего не найдено</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      street: '',
      building: '',
      list: null,
    },
    watch: {
      street: function (newStreet) {
      },
      building: function (newBuilding) {
      }
    },
    methods: {
      fetchData: function () {
        var street = this.street && this.street.length ? this.street : null;
        var building = this.building && this.building.length ? this.building : null;
        var vm = this;

        $.ajax({
          url: 'http://botota.ru/streets/api?',
          data: { name: street, building : building} ,
          type: "GET",
          success: function(data){
            vm.list = data;
            setTimeout(function () {
              var table = $("#table");
              table.length && $('html,body').animate({scrollTop: table.offset().top}, 150);
            }, 50)
          }
        });
      }
    }
  })

</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>