<!DOCTYPE html>
<html>
<head>
    <title>Ananagram</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://unpkg.com/vue"></script>
    <!--<script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script>-->
</head>
<body>
<div id="app">
    <div class="title__wrapper">
        <div class="title__logo">
            <img src="logo_voronezh.svg" alt="">
        </div>
        <h2 class="title">Ananagram</h2>
    </div>
    <div class="container">
        <main class="main">
            <div class="row">
                <div class="col s12">
                    <div class="row row--flex inputs ">
                        <div class="input-field col m7 s12">
                            <input
                                    v-model="street"
                                    @keyup.enter="fetchData"
                                    id="street"
                                    type="text"
                            >

                            <label for="street">Улица</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input
                                    v-model="building"
                                    @keyup.enter="fetchData"
                                    id="building"
                                    type="text"
                            >
                            <label for="building">Дом</label>
                        </div>
                        <a
                                class="waves-effect waves-light btn col m2  s12 offset-m1 z-depth-3 full"
                                :class="{disabled: lengthError || !street.length && !building.length}"
                                @click="fetchData"
                        >
                            GO
                        </a>
                    </div>

                    <div class="row additional-inputs">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li class="collapsible_item">
                                <div class="collapsible-header" :class="{'has-option': hasClass}"><i class="material-icons">settings</i>Параметры поиска</div>
                                <div class="collapsible-body">

                                    <p>
                                        <input v-model="options" value="not" name="options" type="radio" id="not" />
                                        <label for="not">Без параметров</label>
                                    </p>
                                    <p>
                                        <input v-model="options" value="start" name="options" type="radio" id="start" />
                                        <label for="start">Искать в начале слова</label>
                                    </p>
                                    <p>
                                        <input v-model="options" value="end" name="options" type="radio" id="end" />
                                        <label for="end">Искать в конце слова</label>
                                    </p>
                                    <p>
                                        <input v-model="options" value="part" name="options" type="radio" id="part" />
                                        <label for="part">Искать часть слова</label>
                                    </p>
                                    <p>
                                        <input v-model="options" value="order" name="options" type="radio" id="order" />
                                        <label for="order">Искать буквы по порядку</label>
                                    </p>
                                    <div class="range-field row">
                                        <h6 class="range-field__title col s12">Количество букв в слове:</h6>
                                        <div class="input-field col m3 s6">
                                            <input
                                                    v-model="from"
                                                    @keypress="isNumber"
                                                    id="from"
                                                    type="text"
                                                    :class="{invalid: lengthError}"
                                            >
                                            <label for="from">От</label>
                                        </div>
                                        <div class="input-field col m3 s6">
                                            <input
                                                    v-model="to"
                                                    @keypress="isNumber"
                                                    id="to"
                                                    type="text"
                                                    :class="{invalid: lengthError}"
                                            >
                                            <label for="to">До</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row mobile" >
                        <div class="col s12">
                            <a
                                    class="waves-effect waves-light btn col m2  s12 offset-m1 z-depth-3"
                                    :class="{disabled: lengthError || !street.length && !building.length}"
                                    @click="fetchData"
                            >
                                GO
                            </a>
                        </div>
                    </div>

                    <div class="preloader__wrapper section" v-if="showLoader">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="list">
                        <div class="divider"></div>
                        <div class="section" v-if="list.length">
                            <table class="striped highlight" id="table">
                                <thead>
                                <tr>
                                    <th>Улица</th>
                                    <th>Дома</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr v-for="item in list">
                                    <td><span v-html="item.name"></span</td>
                                    <td class="wrap">{{item.buildings && item.buildings.length ? item.buildings.join(', ') : ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else>
                            <h4>Ничего не найдено</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content to-top" v-if="list" @click="toTop">
        <i class="material-icons">keyboard_arrow_up</i>
    </a>

</div>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      street: '',
      building: '',
      list: null,
      options: "not",
      from:'',
      to:'',
      lengthError: false,
      showLoader: false,
      hasClass: ''
    },
    watch: {
      street: function (street) {
        if(!street.length) {
          this.from = '';
          this.to = '';
          this.lengthError = false;
        };
      },
      to: function (to) {
        if(this.street.length && to.length && this.from.length) this.lengthError = +to <= +this.from;
        if(!to.length && !this.from.length) this.lengthError = false;
      },
      from: function (from) {
        if(this.street.length && this.to.length && from.length) this.lengthError = +from >= +this.to;
        if(!from.length && !this.to.length) this.lengthError = false;
      },
      options: function (options) {
        this.hasClass = options !== 'not';
      },
    },
    methods: {
      fetchData: function () {
        var street = this.street && this.street.length ? this.street : null;
        var building = this.building && this.building.length ? this.building : null;
        var options = this.options && this.options === 'not' ? null : this.options;
        var from = this.from && this.from.length ? this.from : null;
        var to = this.to && this.to.length ? this.to : null;
        var length = (from ? 'from' + from : '') + (to ? 'to' + to : '');
        var vm = this;

        var data = {
          name: street,
          building : building,
          options: options,
          length: length
        };

        this.showLoader = true;
        var additionalInputs = $(".additional-inputs");
        additionalInputs.length && $('html,body').animate({scrollTop: additionalInputs.offset().top + additionalInputs.height() + 30}, 100);

        $.ajax({
          url: 'http://botota.ru/streets/api?',
          data: data ,
          type: "GET",
          success: function(data){
            vm.list = data;
            vm.showLoader = false;

            setTimeout(function () {
              var table = $("#table");
              table.length && $('html,body').animate({scrollTop: table.offset().top}, 150);
            }, 150)

          },
          error: function(){
            vm.showLoader = false;
          },
        });
      },
      isNumber: function (evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46){
          evt.preventDefault();
        } else {
          return true;
        }
      },
      toTop: function () {
        $('html,body').animate({scrollTop: $('body').offset().top}, 250);
      },
    },
  })

</script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>